* {
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

button {
    width: 450px;
    height: 60px;
    font-size: 2em;
    border-radius: 10px;
    /* color: #B70E21; */
}

input {
    width: 350px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 10px;
    /* color: #B70E21; */
}

.container {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.consultas {
    text-align: center;
}

header {
    padding: 30px;
}

